.env
.env.*
venv/
.venv/
env/
ENV/
chroma_db/
chroma_db_data/
*.log
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints
.DS_Store
.vscode/
.cursorignore
.cursorindexingignore
.idea/
build/
dist/
*.egg-info/
generated_audio